$imageContainerSize: 80px;

:host {
  .text-green {
    color: rgb(19, 206, 19);
  }

  .text-yellow {
    color: orange;
  }

  .image-container {
    width: $imageContainerSize;
    height: $imageContainerSize;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .box {
    display: block;
    height: 250px;
  }

}
