$imageContainerSize: 80px;

:host {
  .currency-box {
    height: 100%;
  }

  .text-green {
    color: rgb(19, 206, 19);
  }

  .text-yellow {
    color: orange;
  }

  .image-container {
    width: $imageContainerSize;
    height: $imageContainerSize;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .content {
    padding-left: 2.3em;
    padding-right: 2.3em;
  }
}
