<div class="table-container my-5">
  <table>
    <thead>
      <tr>
        <th>Data da transação</th>
        <th>Valor</th>
        <th>Saldo</th>
        <th>Informação adicional</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="my-5" *ngFor="let transaction of transactions; let i = index">
        <td>{{ transaction.date }}</td>
        <td>
          <span [className]="isPositive(i)">{{ transaction.amount }}</span>
        </td>
        <td>{{ transaction.balance }}</td>
        <td>{{ transaction.additionalInfo }}</td>
        <td>{{ transaction.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
