<app-operation-box
  name="DEPOSITAR"
  footerMessage="Este QR code expira em 30 minutos. Ao realizar o pagamento, você será informado por e-mail."
>
  <div class="d-flex">
    <div class="p-3">
      <label class="d-block w-100 mb-2" for="depositar"
        >Valor que deseja depositar</label
      >
      <input class="dart-input mb-2" type="text w-100" id="depositar" />
      <button type="button" class="btn btn-primary text-nowrap d-block w-100">
        Gerar pix
      </button>
    </div>
    <div class="d-flex flex-column p-3">
      <img src="/assets/QRCode.png" alt="QR code" />
      <button type="button" class="btn btn-primary text-nowrap mt-1">
        Copiar código
      </button>
    </div>
  </div>
</app-operation-box>

<!-- <app-box class="box p-3">
  <h6 class="text-center m-0 title">DEPOSITAR</h6>

  <hr>



  <div class="d-flex justify-content-center align-items-center">
    <p class="text-center w-75">

    </p>
  </div>

</app-box> -->
