:host {
  font-size: smaller;

  .title {
    color: orange;
  }

  .dart-input {
    background-color: #0f0f0f; /* Fundo escuro */
    border: 0;
    border-radius: 7px;
    color: #ffffff; /* Texto branco */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove a borda de foco padrão */
    transition: all 0.3s ease-in-out;
  }
}
