<app-operation-box
  name="DEPOSITAR"
  footerMessage="Este QR code expira em 30 minutos. Ao realizar o pagamento, você será informado por e-mail."
>
  <div class="d-flex ">
    <div class="">
      <label class="d-block w-100 mb-3" for="depositar">
        Valor que deseja depositar
      </label>
      <input class="dart-input mb-2" type="text w-100" id="depositar" />
      <button type="button" class="btn btn-primary text-nowrap d-block w-100">
        Gerar pix
      </button>
    </div>
    <div class="d-flex flex-column ms-3">
      <div class="p-3 black-background" ><img src="../../../../../assets/QRCode.png" alt="QR code" /></div>
      <button type="button" class="btn btn-primary text-nowrap mt-1">
        Copiar código
      </button>
    </div>
  </div>
</app-operation-box>
