// Defina suas variáveis personalizadas
$primary: #111111;
$body-bg: #151515;

* {
  color: white;
}

.red {
  background-color: red;
  color: red;
}

input {
  background-color: #0f0f0f; /* Fundo escuro */
  border: 0;
  border-radius: 7px;
  color: #ffffff; /* Texto branco */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove a borda de foco padrão */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

select,
input[type="date"] {
  display: block;
  background-color: $body-bg;
  border: 1px solid #828282;
  border-radius: 9px;
  margin: 5px !important;
  padding: 5px 10px;
  color: #828282;
}

// Importe o Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
